@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

html {
  font-family: "Raleway", sans-serif;
}

/* Marquee */
.marquee-left > * {
  @apply whitespace-nowrap absolute animate-[marquee-left_15s_linear_0s_infinite];
}

.marquee-right > * {
  @apply whitespace-nowrap absolute animate-[marquee-right_15s_linear_0s_infinite];
}

@keyframes marquee-left {
  0% {
    left: 100%;
    transform: translateX(0%);
  }
  100% {
    left: 0%;
    transform: translateX(-100%);
  }
}

@keyframes marquee-right {
  0% {
    right: 100%;
    transform: translateX(0%);
  }
  100% {
    right: 0%;
    transform: translateX(100%);
  }
}

.gradient-text {
  --bg-size: 400%;
  --color-one: hsl(15 90% 55%);
  --color-two: hsl(40 95% 55%);
  background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0 /
    var(--bg-size) 100%;
  -webkit-background-clip: text;
  color:transparent;
  background-clip: text;
  animation: move-bg 8s infinite linear;
}

@media (prefers-reduced-motion: no-preference) {
  .gradient-text {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
